body {
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
}

.facebook-login {
  display: flex;
}

.form-group {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 8px;
}

.form-control {
  align-self: flex-end;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 8px;
}

.form-group button {
  background-color: rgb(66, 103, 178);
  border: 1px solid rgb(41, 72, 125);
  border-radius: 2px;
  color: white;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

.main-content {
  display: flex;
  justify-content: space-around;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.name-input {
  display: flex;
}

.input-large {
  width: 100%;
}

.genderButtons {
  display: flex;
  margin-top: 10px;
  width: 100%;
}

.gender-section {
  margin-top: 10px;
}
